.card {
    font-family: times;
    font-size: 30px;
    text-align: center;
    color: black;
    background-color: white;
}

hr {
    border: 1px solid black;
    border-radius: 1px;
}

.card1 { background-color: #ffffff}