<div id="chinese">{{Chinese}}</div>
<div style="visibility: hidden;" id="translation">{{Translation}}</div>
<button onclick="showTranslation();">Show translation</button>
<script>
function showTranslation() {

    document.getElementById("translation").style.visibility = "visible";
}
</script>