<div id="sansForm">{{HiraganaKatakana}}</div>
<div id="serifForm">{{HiraganaKatakana}}</div>
<br />
<div id="sansForm">{{Kanji}}</div>
<div id="serifForm">{{Kanji}}</div>
<hr id="answer">{{Translation}}